.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-bettween {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
